#fundo3 {
  background-color: #141414;
}
#contato {
  margin: 0 auto;
  max-width: 1200px;
  padding: 100px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  position: relative;
}
#contato-p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  color: #b8b8b8;
  max-width: 480px;
}
#email p {
  padding-bottom: 30px;
}
#dados-contato p {
  font-size: 2.5rem;
  font-weight: 500;
  color: #fafafa;
}
#contato::before {
  content: url(../img/icones/dec-titulo.svg);
  height: 100px;
  width: 100px;
  position: absolute;
  top: -50px;
  right: 10px;
}

@media (max-width: 850px) {
  #contato {
    gap: 60px;
  }
  #contato-p {
    text-align: center;
    grid-column: 1 / -1;
  }
  #dados-contato {
    grid-column: 1 / -1;
    text-align: center;
  }
}

@media (max-width: 670px) {
  #dados-contato p {
    font-size: 2rem;
  }
}

@media (max-width: 590px) {
  #contato {
    padding: 60px 20px;
    gap: 30px;
  }
  #dados-contato p {
    font-size: 1.5rem;
  }
  #contato-p {
    font-size: 1rem;
  }
}
